<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key ="ClanChestEndTimeUTC" value="07:00:00"/>
        <add key ="WeeklyResetTimeUTC" value="06:00:00"/>
        <add key ="ClanChestEndDayUTC" value="Monday"/>
        <add key ="WeeklyResetDayUTC" value="Monday"/>
        
        <add key ="ScheduledPullIntervalInMinutes" value ="5"/>
    </appSettings>
    <connectionStrings>
        <add name="CRClanStatsLocal"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\BILLM\DOCUMENTS\CRCLASSTATS.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>