<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--When should the job execute the first time. The value is set as a time of day-->
        <add key ="DailyPullTimeUTC" value="22:55:00"/>
        <!--After haveing executed the first time - which schedule should the job continue to run at? The value is set in hours-->
        <add key ="ScheduledPullIntervalInMinutes" value ="5"/>
    </appSettings>
    <connectionStrings>
        <add name="CRClanStatsLocal"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\BILLM\DOCUMENTS\CRCLASSTATS.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>