<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <!--<connectionStrings>
        <add name="CRClanStatsLocal"
             connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\BILLM\DOCUMENTS\CRCLASSTATS.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
             providerName="System.Data.SqlClient" />
    </connectionStrings>-->
</configuration>